@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @Scripts.Render("~/bundles/AppScripts")
    @Styles.Render("~/bundles/AppCSS")
</head>
<body>
    @RenderPage("~/Views/Canvas/Canvas.cshtml")
</body>
</html>
